.wrapper {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevronArrow {
    display: flex;
    color: white;
    margin-right: 17px;
}

.rotateArrow {
    transform: rotate(180deg);
}

.accordion {
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: #FF6060;
    letter-spacing: 0em;
    text-align: left;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    border-radius: 5px;
    height: auto;
    top: 38px;
    align-content: space-around;
    margin: 30px;
}

.title {
    background: #FF6060;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 52px;
}

.title h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 18px;
}

.content {
    background: #F7F7F7;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    height: auto;
    max-height: fit-content;
    transition: all 0.0s cubic-bezier(1,0,1,0);
    padding: 20px;
    color: #FF6060;
    background: #F7F7F7;
    border-radius: 10px;
}

.accordion-collapse {
    display: flex;
    width: 95%;
    margin:25px auto;
    justify-content: space-between;
} 

.accordion-collapse .wrapper {
    display: inherit;
    width: 45%;
    margin: 0;
}

.accordion-collapse .wrapper {
    width: 50%;
}

.accordion-collapse .wrapper .item {
    width: 100%;
}

span.tags-content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    text-align: center;
    color: #FFFFFF;
}

span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #FF6060;
}

@media (max-width: 768px) {
    .accordion {
        width: 100%;
    }

    .accordion-collapse {
        flex-direction: column;
    }
    .accordion-collapse .wrapper {
        width: 100%;
        margin-top: -30px;
    }
}

@media (max-width: 375px) {

element.style {
    width: 54%;
}

.accordion {
    margin: -17px;
}

.title {
    height: 30px;
    width: 335px;
}

.title h2 {
    font-size: 13px;
    line-height: 19px;
}

.chevronArrow {
    margin-right: 1px;
}

.chevronArrow img {
    width: 70%;
}
.content.show {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #FF6060;
}
}
