.wrapper {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.chevronArrow{
    color: white;
}

.rotateArrow{
    transform: rotate(180deg);
}

.accordion {
    font-family:'Montserrat';
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: #FF6060;
    letter-spacing: 0em;
    text-align: left;
    width: 75%;
}

.item {
    background: #F7F7F7;
    border-radius: 5px;
    height: auto;
    top: 38px;
    align-content: space-around;
    margin: 30px;
}

.title {
    background: #FF6060;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 47px;
}

.title h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 18px;
}

.content {
    background: #F7F7F7;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    margin: 18px;
}