* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --heights : 415px;
    --widths: 90%;
}

.slider-container {
    height: var(--heights);
    width: var(--widths);
    position:relative;
    margin: auto;
    overflow: hidden;
}

.active {
    display: inline-block;
    width: 100%;
}

.inactive {
    display: none;
}

.slides {
    height: var(--heights);
    width: var(--widths);
    position: relative;
    width: 100%;
}

.slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 25px;
}

.prev, .next {
    cursor: pointer;
    z-index: 100;
    position:absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -5rem;
    font-size: 40px;
    color: #FFFFFF;
    font-size: 80px;
}


.prev:hover, .next:hover {
    color: white;
    /* transition: all 0.5s ease-in; */
}

.next {
    right: 0;
    border-radius: 5px 0px 0px 5px;
}

.count-image-slider {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    right: 50%;
    bottom: 4%;
    transform: translate(-50%);
}

@media (max-width: 768px) {
    :root {
        --heights: 255px;
        --widths: 90%;
    }

    .prev, .next {
        margin-top: -25px;
        font-size: 20px;
    }

    .count-image-slider {
        right: 45%;
    }

    .count-image-slider{
        display: none;
    }
}